.header-container {
  background-color: #002235;
  margin: -16px -8px 0 -8px;
  z-index: 101;
  height: 50px;
}
.header-text {
  color: #fff;
  font-weight: 500 !important;
  font-style: inherit;
  background-repeat: no-repeat;
  font-size: 1rem;
  line-height: 1.5;
  font-family: public_sans, -apple-system, BlinkMacSystemFont, Trebuchet MS,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  text-align: center;
  padding-top: 10px;
  margin-left: -100px;
}
.subscribe-button {
  color: #fff;
  background-color: #094466;
  left: 71%;
  top: -40px;
  text-decoration: none;
  border-radius: 65px;
  font-size: 14px;
  position: relative;
  font-family: public_sans, Roboto, Droid Sans, Helvetica Neue, Helvetica,
    Trebuchet MS, Arial;
  padding: 0.5em 1.25em;
  font-weight: 700 !important;
  margin-left: 0.75rem !important;
  width: 115px;
  height: 20px;
}
.subscribe-button:hover {
  box-shadow: 0 0 0 2px #e1930a;
  transition: all 0.1s ease;
  background-color: #2f2f2f;
  border-color: transparent;
}

/* Header2 */
.navbar {
  margin-left: -8px;
  margin-right: -8px;
  height: 70px;
  align-items: center;
  display: flex;
}
.logo-container {
  margin-left: 40px;
}
.logo-img {
  height: 60px;
  padding-right: 0;
  margin-left: -11px;
  margin-right: 1rem;
  transition: all 0.15s ease;
  cursor: pointer;
}
.menu-icon {
  margin-left: 70%;
  right: 0;
  height: 50px;
  width: 50px;
  cursor: pointer;
  background-color: #fff;
}
.icons {
  color: #07599c;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1.5;
  margin-top: 5px;
  margin-left: 5px;
}

@media only screen and (max-width: 767px) {
  /* header 1 */
  .header-container {
    z-index: 101;
    min-height: 120px;
    padding-left: 100px;
    width: 100%;
    position: relative;
  }
  .header-text {
    width: 100%;
    text-align: initial;
    font-size: 14px;
    padding-left: 10px;
  }
  .subscribe-button {
    top: -5px;
    width: 90%;
    left: -3%;
    text-align: center;
  }
  .header-icon {
    margin-right: 10px;
  }
  /* header2 */
  .logo-container {
    margin-left: 10px;
  }
  .menu-icon {
    margin-left: 40px;
  }
  .navbar {
    /* position: fixed; */
    z-index: 100;
    backdrop-filter: blur(10px);
    background-color: #fff;
    /* top: -1px; */
  }
}
