.partner-container {
  padding-left: 150px;
  padding-top: 50px;
}
.mm-image {
  width: 430px;
  height: 120px;
}
.second-img {
  width: 160px;
  height: 120px;
  padding-left: 20px;
}
.second-img-under {
  width: 160px;
  height: 120px;
  padding-left: 20px;
  margin-left: 40%;
  margin-top: 30px;
}
.second-container {
  margin-top: 30px;
  margin-left: -50px;
}

@media only screen and (max-width: 767px) {
  .mm-image {
    width: 300px;
    height: 120px;
    margin-left: -140px;
  }
  .second-img {
    margin-left: -100px;
    display: block;
    margin-bottom: 30px;
  }
  .second-img-under {
    margin-left: -100px;
  }
  .second-container {
    padding-left: 60px;
  }
}
