.footer-container {
  background: radial-gradient(
    farthest-corner at center 0,
    #094466 20%,
    #002235 100%
  );
  position: relative;
  width: 100%;
  height: 100vh;
  margin-left: -8px;
  display: flex;
  /* margin-top: 500px; */
}
.logo2-img {
  margin-top: 100px;
  margin-left: 20px;
  margin-bottom: 20px;
  width: 250px;
  height: 70px;
}
/* .address-title {
  color: #fff;
  font-size: 1.25rem;
  font-family: public_sans, Roboto, Droid Sans, Helvetica Neue, Helvetica,
    Trebuchet MS, Arial;
  font-weight: 700;
  margin-left: 40px;
} */
/* .places-container div {
  display: flex;
  width: 100px;
  display: flex;
  color: #b8c4db;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  font-family: public_sans, -apple-system, BlinkMacSystemFont, Trebuchet MS,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    Helvetica, Arial, sans-serif;
} */
.places-container div p {
  margin-right: 50px;
  width: 50px;
}

.social-media-icon:hover {
  background-color: #e1930a;
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.social-media-icons-container {
  width: 365px;
  height: 48px;
  /* background-color: red; */
  margin-left: 50px;
}
.social-media-icons-container a {
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  height: 480px;
  width: 48px;
  color: #fff;
  background-color: #00507c;
  cursor: pointer;
  line-height: 1.5;
  margin-right: 10px;
  border-radius: 50%;
}

.phone-number {
  color: #fff;
  font-weight: 700;
  font-size: 0.9em;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  cursor: pointer;
  font-family: public_sans, -apple-system, BlinkMacSystemFont, Trebuchet MS,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  margin-left: 50px;
  margin-bottom: 20px;
}
.white-text1 {
  color: #fff;
  margin-left: 50px;
  font-size: 18px;
  font-family: public_sans, -apple-system, BlinkMacSystemFont, Trebuchet MS,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}
.white-text2 {
  color: #fff;
  font-size: 16px;
  margin-left: 50px;
  font-family: public_sans, -apple-system, BlinkMacSystemFont, Trebuchet MS,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}

.second-column-container {
  margin-top: 120px;
}
.second-column-container span,
.menu-label-remove {
  color: #aecedf;
  font-weight: 700;
  font-family: public_sans, -apple-system, BlinkMacSystemFont, Trebuchet MS,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    Helvetica, Arial, sans-serif;
}
.p-xs {
  color: #fff;
  font-weight: 500;
  cursor: pointer;
  font-family: public_sans, -apple-system, BlinkMacSystemFont, Trebuchet MS,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  padding-top: 10px;
  width: 300px;
  line-height: 1.5;
}
.p-xs:hover {
  background-color: rgba(225, 147, 10, 0.1);
  box-shadow: 0 2px 0 #e1930a;
  text-decoration-skip-ink: auto;
  transition: background-color 0.1s ease-in-out;
}
.table-content {
  margin-left: -30px;
}
.time-container {
  width: 130px;
}
.columns {
  margin-top: 120px;
}
.menu-label,
.menu-label-remove {
  color: #aecedf;
}
.navigation-list p a,
.menu-list {
  margin-left: 40px;
  color: #fff;
  text-decoration: none;
  border-radius: 65px;
  padding: 0.5em 1.25em;
  font-weight: 500;
  cursor: pointer;
  font-family: public_sans, Roboto, Droid Sans, Helvetica Neue, Helvetica,
    Trebuchet MS, Arial;
  list-style: none;
}
.navigation-list p a:hover,
.menu-list:hover {
  background-color: hsla(0, 0%, 100%, 0.05);
  transition: all 50ms ease;
}

@media only screen and (max-width: 767px) {
  .footer-container {
    width: 106%;
    margin-left: -10px;
    display: block;
    height: fit-content;
  }
  .white-text1 {
    text-align: center;
    margin-left: -10px;
    font-size: 15px;
  }
  .second-column-container {
  }
  .navigation-list p a,
  .menu-label-remove {
    margin-left: -1000px;
  }
  .second-column-container span {
    margin-left: 10px;
  }
}
