.summium-container {
  background-color: rgba(255, 170, 23, 0.67);
  height: 93vh;
  display: flex;
  margin-top: -80px;
  margin-left: -10px;
  margin-right: -8px;
  background-image: radial-gradient(
      farthest-corner at center 0,
      rgba(255, 170, 23, 0.67),
      rgba(255, 192, 41, 0) 80%
    ),
    radial-gradient(
      circle at 30% 97%,
      rgba(4, 4, 4, 0.06) 0,
      rgba(4, 4, 4, 0.06) 33.333%,
      rgba(4, 4, 4, 0.06) 0,
      rgba(4, 4, 4, 0.06) 66.666%,
      rgba(3, 3, 3, 0.06) 0,
      rgba(3, 3, 3, 0.06) 99.999%
    ),
    radial-gradient(
      circle at 22% 20%,
      hsla(0, 0%, 60%, 0.06) 0,
      hsla(0, 0%, 60%, 0.06) 33.333%,
      rgba(78, 78, 78, 0.06) 0,
      rgba(78, 78, 78, 0.06) 66.666%,
      rgba(1, 1, 1, 0.06) 0,
      rgba(1, 1, 1, 0.06) 99.999%
    ),
    radial-gradient(
      circle at 67% 32%,
      hsla(0, 0%, 51%, 0.06) 0,
      hsla(0, 0%, 51%, 0.06) 33.333%,
      hsla(0, 0%, 65%, 0.06) 0,
      hsla(0, 0%, 65%, 0.06) 66.666%,
      hsla(0, 0%, 79%, 0.06) 0,
      hsla(0, 0%, 79%, 0.06) 99.999%
    ),
    linear-gradient(45deg, #ec3417, #fba728);
}
.summium-image {
  width: 560px;
  height: 530px;
}
.summium-title {
  color: #fff;
  font-size: 2.5rem;
  font-family: public_sans, Roboto, Droid Sans, Helvetica Neue, Helvetica,
    Trebuchet MS, Arial;
  line-height: 1.125;
}
.summium-description {
  padding-top: 120px;
  width: 600px;
}
.summium-lower-title {
  color: #fff;
  font-size: 1.5rem;
  font-family: public_sans, Roboto, Droid Sans, Helvetica Neue, Helvetica,
    Trebuchet MS, Arial;
  font-weight: 500;
}
.summium-article {
  color: #fff;
  font-size: 1rem;
  font-weight: 400;
  font-family: public_sans, -apple-system, BlinkMacSystemFont, Trebuchet MS,
    Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
    Helvetica, Arial, sans-serif;
  line-height: 30px;
}
.summium-button {
  color: #d13d00;
  box-shadow: 0 4px 31px rgba(209, 61, 0, 0.42),
    0 0.50086px 3.88168px rgba(209, 61, 0, 0.21);
  font-size: 1.25rem;
  background-color: #fff;
  border-color: transparent;
  position: relative;
  font-family: public_sans, Roboto, Droid Sans, Helvetica Neue, Helvetica,
    Trebuchet MS, Arial;
  transition: all 0.1s ease;
  padding: 0.5em 1.25em;
  border-radius: 65px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 120px;
  font-weight: 700;
  cursor: pointer;
}
.summium-button:hover {
  color: #000;
}

@media only screen and (max-width: 767px) {
  .summium-container {
    display: block;
    height: 176vh;
  }
  .summium-container img {
    margin-top: 550px;
  }
  .summium-image {
    margin-top: 360px;
    height: 300px;
    margin-left: -150px;
  }
  .summium-description {
    margin-top: -300px;
    width: 300px;
    margin-left: 20px;
  }
  .figure-container {
    margin-top: 10px;

    height: 200px;
  }
  .summium-button {
    width: 250px;
    text-align: center;
  }
}
